<!DOCTYPE html>
<html>
<head>
    <title>Configuration</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <p><a href="/motor">Motor Control</a> | <a href="/registers">Registers</a> | <a href="/assun">ASSUN</a>| <a href="/config">Configuration</a> </p>
        <h1>Edit Configuration</h1>
        <form method="post">
            <fieldset>
                <legend>General Settings</legend>
                <label>Password: <input type="password" name="password" value="{{.Password}}"></label>
                <label>Modbus TCP port: <input type="number" name="tcp_port" value="{{.TCPServerPort}}"></label>
                <label>Web port: <input type="number" name="web_port" value="{{.WebServerPort}}"></label>
            </fieldset>

            <fieldset>
                <legend>Modbus RTU</legend>
                <label>Port (/dev/ttyS1 | com9): <input name="rtu_port" value="{{.ModbusRTU.Port}}"></label>
                <label>Baud rate(230400): <input type="number" name="baud" value="{{.ModbusRTU.BaudRate}}"></label>
                <label>Data bits(8): <input type="number" name="data_bits" value="{{.ModbusRTU.DataBits}}"></label>
                <label>Stop bits(1): <input type="number" name="stop_bits" value="{{.ModbusRTU.StopBits}}"></label>
                <label>Parity(N): <select name="parity">
                    <option {{if eq .ModbusRTU.Parity "N"}}selected{{end}}>N</option>
                    <option {{if eq .ModbusRTU.Parity "E"}}selected{{end}}>E</option>
                    <option {{if eq .ModbusRTU.Parity "O"}}selected{{end}}>O</option>
                </select></label>
            </fieldset>

            <fieldset>
                <legend>Camera</legend>
                <label>RTSP URL: <input name="rtsp_url" value="{{.Camera.RTSPURL}}"></label>
                <label>Login: <input name="camera_user" value="{{.Camera.Username}}"></label>
                <label>Password: <input name="camera_pass" value="{{.Camera.Password}}"></label>
            </fieldset>

            <fieldset>
                <legend>Motors (Modbus Slave ID)</legend>
                <label>Axis X: <input type="number" name="axis_x" value="{{.Motors.AxisX}}"></label>
                <label>Axis Y: <input type="number" name="axis_y" value="{{.Motors.AxisY}}"></label>
                <label>Axis Z: <input type="number" name="axis_z" value="{{.Motors.AxisZ}}"></label>
                <label>Axis A: <input type="number" name="axis_a" value="{{.Motors.AxisA}}"></label>
            </fieldset>

            <fieldset>
                <legend>Gear ratios (web only) </legend>
                <label>Drive X: <input type="number" name="gain_x" value="{{.Motors.GainX}}" step="0.1" placeholder="0.0"></label>
                <label>Drive Y: <input type="number" name="gain_y" value="{{.Motors.GainY}}" step="0.1" placeholder="0.0"></label>
                <label>Drive Z: <input type="number" name="gain_z" value="{{.Motors.GainZ}}" step="0.1" placeholder="0.0"></label>
                <label>Drive A: <input type="number" name="gain_a" value="{{.Motors.GainA}}" step="0.1" placeholder="0.0"></label>
            </fieldset>

            <fieldset>
                <legend>Modbus registers (holding)</legend>
                <label>Set Speed: <input type="number" name="reg_speed" value="{{.Registers.Speed}}"></label>
                <label>Enable: <input type="number" name="reg_en" value="{{.Registers.Enable}}"></label>
                <label>Set Position: <input type="number" name="reg_pos" value="{{.Registers.Position}}"></label>
                <label>Mode: <input type="number" name="reg_mod" value="{{.Registers.Mode}}"></label>
                <label>Get Speed: <input type="number" name="reg_getspeed" value="{{.Registers.GetSpeed}}"></label>
                <label>Get Position: <input type="number" name="reg_getpos" value="{{.Registers.GetPosition}}"></label>
            </fieldset>
            <button type="submit">Save</button>
            {{if .ok}}<div class="ok">Configuration saved (restart required to apply)</div>{{end}}
        </form>
</body>
</html>