<!DOCTYPE html>
<html>
<head>
    <title>Modbus регистры</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!--<div class="container">-->
    <p><a href="/motor">Управление двигателями</a> | <a href="/registers">Регистры</a> | <a href="/video">Видео</a>| <a href="/config">Конфигурация</a> </p>
       <h1>Чтение/запись Modbus регистров</h1>
        <form method="post">
            <label>Slave ID: <input type="number" name="slave_id" value="1"></label>
            <label>Тип: 
                <select name="reg_type">
                    <option value="holding">Holding Register</option>
                </select>
            </label>
            <label>Адрес (0..65535): <input type="number" name="address" value="4096"></label>
            <label>Значение: <input type="number" name="value" value={{.result}}></label>
            <div>
                <button type="submit" name="action" value="read">Читать</button>
                <button type="submit" name="action" value="write">Записать</button>
            </div>
        </form>
        {{if .result}}<div class="result">Результат чтения: {{.result}}</div>{{end}}
        {{if .ok}}<div class="ok">Запись выполнена</div>{{end}}
    <!--</div>-->
</body>
</html>